
    @font-face {
    font-family: "poppins";
    src: url("../fonts/ethnocentric/Poppins-Regular.ttf") format("ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "poppins";
    src: url("../fonts/ethnocentric/Poppins-Bold.ttf") format("ttf");
    font-weight: bold;
  }
  
  
  body {
    font-family: "poppins", sans-serif;
    color: #101010;
    background-color: #ffffff;
    padding-left: 1%;
    padding-top: 1%;
  }

  a,
  a:hover,
  a:focus {
    text-decoration: underline;
    color: red;
  }
  
  a:hover,
  a:focus {
    color: rgb(228, 123, 123);
  }

  .split2 div{
    align-self: center;
    width: 20%;
    padding: 0 2%;
    padding-bottom: 2%;
  }

  .split2 {
    display:flex;
    flex-direction: row;
  }

  div.clearer{
    float: none; clear: left
  }

  @media only screen and (max-width: 870px) {

    .split2 div{
        width: 100%;
    }

    .split2 {
      flex-wrap: wrap;
    }
  }
